{% extends "base.html" %} 
{% block title %} Calendar {% endblock %} 
{% block content %}
    <style>
        #CalContain{
            background: greenyellow;

            display: flex;
            justify-content: center;
            align-items: center;
        }
        h1{
            font-size: 3.5em;
        }
        #dayDate{
            margin-right: 1em;
        }
        #dayDate h1{
            margin-bottom: 0em;
            font-size: 1.8em;
        }
    </style>
    <div id="CalContain" style="display: flex; justify-content: center; background: greenyellow;">
        <div id="dayDate">
            <h1>Tuesday</h1>
            <h2 style="margin-top: 0em;">14 August</h2>
        </div>
        <h1>12:01</h1>
    </div>
{% endblock %}