<!DOCTYPE html>
<html>

	<head>
		<title> Home page</title>
		<link rel="stylesheet" href="../static/styles/styles.css">
	</head>

	<body>
		
		<section class="container">

			<div class="slider-wrapper" id="slideshow">

				<div class="slide">
					<img id="slide-1"
						src="https://images.unsplash.com/photo-1656464868371-602be27fd4c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80"
						alt = "Orange" />	
				</div>

				<div class="slide">
					<img id="slide-2"
						src="https://images.unsplash.com/photo-1657586640569-4a3d4577328c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80"
						alt = "Green" />
				</div>

				<div class="slide">
					<img id="slide-3"
						src="https://images.unsplash.com/photo-1656077217715-bdaeb06bd01f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80"
						alt = "Blue" />
				</div>

					<div class="slider-nav">
						
						<a href="#slide-1" id="Prev"></a>
						<a href="#slide-2"></a>
						<a href="#slide-3" id="Next"></a>

					</div>

			</div>


		</section>

		<script src="../static/js/script.js"></script>

	</body>

</html>