{% extends "base.html" %}
{% block title %} Slideshow {% endblock %}

{% block content %} 

<h1 align="centre">Slides</h1>
<ul class="list-group list-group-flush" id="slides">
	{% for slide in user.slides %}
	<li class="list-group-item">
		{{ slide.data }}
		<button type="button" class="btn-close float-end" aria-label="Close" onclick="deleteSlide({{slide.id}})"></button>
	  </li>
	{% endfor %}
</ul>
<form method="POST">

	<textarea name="slide" id="slide" class="form-control"></textarea>
	<div align="center">
		<button type="submit" class="btn btn-primary">Add Slide</button>
	</div>

</form>

{% endblock %}