{% extends "base.html" %}
{% block title %} Slideshow {% endblock %}

{% block content %} 

<h1 align="centre">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
	{% for slide in user.slides %}
		<li class="list-group-item">
			{{ slide.image_title }}
			<button type="button" class="btn-close float-end" aria-label="Close" onclick="deleteNote({{note.id}})"></button>
		</li> 
	{% endfor %}
</ul>
<form method="POST">

    <input type="text" name="imgTitle" id="imgTitle" class="form-control" placeholder="Image Title">
    <input type="text" name="imgParagraph" id="imgParagraph" class="form-control" placeholder="Image Paragraph">
    <textarea name="img_source" id="img_source" class="form-control" placeholder="Source"></textarea>
    
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Image</button>
    </div>

</form>

{% endblock %}