/* Add your custom CSS styles here */
/* For example, you can style the container or adjust carousel dimensions */

.container {
	max-width: 800px;
	margin: 0 auto;
  }
  
  .carousel-inner {
	border-radius: 10px;
	overflow: hidden;
  }
  
  .carousel-item img {
	width: 100%;
	height: auto;
  }
  
  .carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: 1s; /* Adjust the duration of the crossfade */
	transition-property: opacity;
  }
  
  .carousel-fade .carousel-item.active {
	opacity: 1;
  }